@font-face {
    font-family: 'Authentic 90 Condensed';
    src: url(../fonts/AUTHENTICSans-Condensed-90.woff);
}

@font-face {
    font-family: 'Authentic 90';
    src: url(../fonts/AUTHENTICSans-90.woff);
}

@font-face {
    font-family: 'Authentic 130';
    src: url(../fonts/AUTHENTICSans-130.woff);
}

@font-face {
    font-family: 'Pantasia';
    src: url(../fonts/PantasiaNovusBeta6-Regular.otf);
}

body {
    font-family: 'Authentic 90', Arial, Helvetica, sans-serif;
    font-size: .84rem;
    letter-spacing: -0.125;
    line-height: 1.25;
    
    padding: 1.2rem;
    top: 0;
    left: 0;
    background-color: #121212;
    color: #e6e6e6;
}

h1 {
    font-family: 'Authentic 90 Condensed', Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
}

h2 {
    font-family: 'Pantasia', 'Times New Roman', Times, serif;
    font-size: 3.2rem;
}

.header h1 {
    font-family: 'Authentic 130', Arial, Helvetica, sans-serif;
    margin-right: .75rem;
}

.header h2 {
    transform: translate(0, -8px);
    margin-left: .75rem;
}

h3 {
    font-size: 10rem;
}

.contact-links-toggle h3 {
    display: inline-block;
    margin-top: 1.1rem;
    transition: .2s 1s;
    opacity: 100%;
}

.contact-links-toggle h3:hover {
    margin-left: 1rem;
    transition: .2s;
}

.active {
    opacity: 50%;
}

h1, h2, h3 {
    text-transform: uppercase;
    line-height: .9;
    overflow: visible;
}

.bio {
    font-family: 'Authentic 90 Condensed', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.contact-info {
    font-family: 'Pantasia', 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

a:hover {
    opacity: 50%;
}

h3 a {
    cursor: crosshair;
}

h3 a:hover {
    opacity: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.with-tab {
    display: inline-block;
    width: 1.5rem;
}

.margin-top-1 {
    margin-top: .5rem;
}

.margin-btm-1 {
    margin-bottom: .75rem;
}

.caps {
    text-transform: uppercase;
}

.deets {
    overflow: hidden;
    transition: .6s;
    height: 48px;
    margin-left: 1rem;
}

/* JS HIDE */



.hide {
    height: 0px;
}

/* MOBILE */

@media screen and (max-width:562px) {

    .header {
        display: block;
    }

    .header h1,
    .header h2 {
        margin: 0;
    }

    .header h2 {
        margin-top: 3.6rem;
    }

    .contact-links-toggle h3:hover {
        margin-left: initial;
    }

}